---
title: 'Desert Devs'
description: 'Design your Future'
preloadImg: '/assets/images/landing.jpg'
permalink: '/'
eleventyNavigation:
  key: Home
  order: 100
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/local.css" />
    <link rel="stylesheet" href="/assets/css/critical.css" />

    <!-- Script for Netlify Identity -->
    <script defer src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <script defer>
        if (window.netlifyIdentity) {
            window
                .netlifyIdentity
                .on('init', (user) => {
                    if (!user) {
                        window
                            .netlifyIdentity
                            .on('login', () => {
                                document.location.href = '/admin/';
                            });
                    }
                });
        }
    </script>
{% endblock %}

{% block body %}

    <!-- ============================================ -->
    <!--                    Hero                      -->
    <!-- ============================================ -->

    <section id="hero">
        <div class="cs-container">
            <div class="cs-flex-group">
                <span class="cs-topper">Desert Devs</span>
                <h1 class="cs-title">Build a Future for your Company</h1>
                <p class="cs-text">
                
                </p>
                <a href="/about" class="cs-button-solid">Explore More</a>
                <a href="/contact" class="cs-button-transparent">
                    <img
                    class="cs-img"
                    loading="lazy"
                    decoding="async"
                    src="https://csimg.nyc3.digitaloceanspaces.com/Hero/play.svg"
                    alt="play icon"
                    width="17"
                    height="17" />
                    Get in Touch
                </a>
            </div>
        </div>

        <!-- Background Image -->
        <picture class="cs-picture">
            <source media="(max-width: 600px)" srcset="/assets/images/cacti.jpeg">
            <source media="(min-width: 601px)" srcset="/assets/images/cacti.jpeg">
            <img aria-hidden="true" decoding="async" src="/assets/images/cacti.jpeg" alt="" width="2500" height="1667" loading="eager">
        </picture>
    </section>

    <!-- ============================================ -->
    <!--                  Services                    -->
    <!-- ============================================ -->

    <section id="services" class="services">
        <!-- Get Icons From flaticon.com -->
        <div class="card">
            <picture>
                <img
                aria-hidden="true"
                decoding="async"
                src="/assets/svgs/service1.svg"
                alt="appliance"
                width="48"
                height="48" />
            </picture>
            <h2>Adapting</h2>
            <p>At Desert Devs, we utilize the latest technologies and innovative methods to stay ahead in the evolving tech landscape. Our agile development practices and adaptive strategies ensure we keep pace with new trends. This proactive approach enables us to meet the demands of the new generation of technology with precision and agility.</p>
        </div>
        <div class="card">
            <picture>
                <img
                aria-hidden="true"
                decoding="async"
                src="/assets/svgs/service2.svg"
                alt="appliance"
                width="48"
                height="48" />
            </picture>
            <h2>Customer Service</h2>
            <p>At Desert Devs, our customer service stands out due to our unwavering commitment to personalized support and swift problem resolution. We prioritize understanding each client's unique needs, ensuring tailored solutions that exceed expectations. Our dedicated team is available around the clock, providing expert assistance whenever required. This blend of empathy, efficiency, and expertise makes Desert Devs the go-to choice for exceptional customer care..</p>
        </div>
        <div class="card">
            <picture>
                <img
                aria-hidden="true"
                decoding="async"
                src="/assets/svgs/service3.svg"
                alt="appliance"
                width="48"
                height="48" />
            </picture>
            <h2>Determination</h2>
            <p>At Desert Devs, we are dedicated to delivering the best customer experience and ensuring customer satisfaction. Our team prioritizes understanding and addressing each client's unique needs with personalized support. We consistently strive to exceed expectations through our commitment to quality and responsive service. Keeping our customers happy is at the heart of everything we do.</p>
        </div>
    </section>

    <!-- ============================================ -->
    <!--                 Side By Side                 -->
    <!-- ============================================ -->

    <section id="sbs">
        <div class="cs-container">
            <!-- Left Image Section -->
            <div class="cs-left">
                <picture class="cs-picture cs-picture1">
                    <source media="(max-width: 600px)" srcset="/assets/images/gang.jpeg">
                    <source media="(min-width: 601px)" srcset="/assets/images/gang.jpeg">
                    <img aria-hidden="true" decoding="async" src="/assets/images/gang.jpeg" alt="cabinets" loading="lazy" width="400" height="563">
                </picture>
                <picture class="cs-picture cs-picture2">
                    <source media="(max-width: 600px)" srcset="/assets/images/logo.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/logo.jpg">
                    <img aria-hidden="true" decoding="async" src="/assets/images/logo.jpg" alt="house" loading="lazy" width="400" height="563">
                </picture>
            </div>
            <!-- Right Content Section-->
            <div class="cs-right">
                <span class="cs-topper">About Us</span>
                <h2 class="cs-title">About Company Desert Devs</h2>
                <p class="cs-text">
                    
Desert Devs is a small, family-owned business based in Scottsdale, AZ, with a passion for empowering smaller companies to thrive in the digital age. Our main focus is helping businesses stay active and competitive amid the rapid growth of web technology and marketing trends. We are dedicated to providing exceptional service, tailoring our solutions to meet the unique needs of each client. By choosing us, you gain a committed partner who will help you expand, profit, and navigate the complexities of the digital landscape with ease. Experience the personalized support and unwavering dedication that sets Desert Devs apart from the rest.
                </p>
                <p class="cs-text">
                </p>
                <div class="cs-flex-group">
                    <p class="cs-flex-p">
                        We bring the best to the table while also taking in input making the website go above and beyond.
                    </p>
                    <span class="cs-name">Griffen Bock</span>
                    <span class="cs-job">CEO-Founder</span>
                    <img 
                    class="cs-quote-icon"
                    loading="lazy"
                    decoding="async"
                    src="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/quote-white.svg"
                    alt="gavel"
                    width="136"
                    height="77" />
                </div>
                <a href="/about" class="cs-button-solid">More About Us</a>
            </div>
        </div>
    </section>

    <!-- ============================================ -->
    <!--            Extra Content To Rank             -->
    <!-- ============================================ -->

    <section id="sbs-r">
        <div class="cs-container">
            <!-- Left Image Section -->
            <div class="cs-left">
                <picture class="cs-picture cs-picture1">
                    <source media="(max-width: 600px)" srcset="/assets/images/cacti.jpeg">
                    <source media="(min-width: 601px)" srcset="/assets/images/cacti.jpeg">
                    <img aria-hidden="true" decoding="async" src="/assets/images/cacti.jpeg" alt="house" loading="lazy" width="400" height="560">
                </picture>
                <picture class="cs-picture cs-picture2">
                    <source media="(max-width: 600px)" srcset="/assets/images/ship.jpeg">
                    <source media="(min-width: 601px)" srcset="/assets/images/ship.jpeg">
                    <img aria-hidden="true" decoding="async" src="/assets/images/ship.jpeg" alt="cabinets" loading="lazy" width="400" height="560">
                </picture>
            </div>
            <!-- Right Content Section-->
            <div class="cs-right">
                <span class="cs-topper">SEO Ranking</span>
                <h2 class="cs-title">Prosperity</h2>
                <p class="cs-text">
                    a successful, flourishing, or thriving condition, especially in financial respects; good fortune
                </p>
                <p class="cs-text">
                    At Desert Devs, we are dedicated to ensuring the prosperity of our clients through our unwavering commitment to excellence. Our team goes above and beyond to deliver tailored solutions that drive growth and success. We focus on fostering strong, long-term relationships, understanding that our clients' success is our success. Choose Desert Devs, where your prosperity is our top priority.
                </p>
            </div>
        </div>
    </section>


    {% include 'components/cta.html' %}
{% endblock %}